VITE_API_URL=http://localhost:5000/api
VITE_APP_CLOUDINARY_CLOUD_NAME=<public-cloud-name>
VITE_APP_CLOUDINARY_UPLOAD_PRESET=<restricted-unsigned-upload-preset>
VITE_APP_DEEPAR_SDK_KEY=<public-client-sdk-key>
